.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
}

:root {
    --red: #9D2235;
    --cornerstone: #75787B;
}

body {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: 0px;
}

#title {
    text-align: center;
    background-color: var(--cornerstone);
    color: var(--red);
    text-shadow:
        -1px -1px 0 white,  
        1px -1px 0 white,
        -1px 1px 0 white,
        1px 1px 0 white;
    margin: 0px;
    font-weight: 900;
    font-size: 40px;
}

#grid-container {
    display: inline-grid;
    width: 100%;
    justify-content: space-around;
    align-content: space-around;
}

.grid-item {
    background-color: #898b8c;
    border-radius: 4px;
}

.grid-item > input {
    display: none;
}

.grid-item > label {
    color: white;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    transition: background 0.2s, color 0.2s, box-shadow 0.2s;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.brace {
    font-size: 1.5em;
    margin: 1px;
}

.grid-item > label:hover {
    opacity: 0.8;
}

.grid-item > input:checked ~ label {
    background: linear-gradient(45deg, gold, white);
    color: black;
    box-shadow: 0px 0px 10px gold;
}

.grid-item > input:checked ~ label:hover {
    color: var(--cornerstone);
    box-shadow: 0px 0px 2px gold;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}
